@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box
  }

  body {
    @apply flex min-h-screen flex-col bg-grey/0;
  }

  main {
    @apply flex-1
  }

  h1 {
    @apply text-4xl leading-[100%] font-bold font-sans;
  }

  h2 {
    @apply text-[32px] leading-[100%] font-bold font-sans;
  }

  h3 {
    @apply text-[28px] leading-[100%] font-bold font-sans;
  }

  h4 {
    @apply text-2xl leading-[100%] font-bold font-sans;
  }

  h5 {
    @apply text-xl leading-[100%] font-bold font-sans;
  }

  h6 {
    @apply text-lg leading-[100%] font-bold font-sans;
  }

  p, .main-text {
    @apply text-base leading-[150%] font-normal font-sans;
  }

  .main-text-medium {
    @apply font-medium;
  }

  .secondary-text {
    @apply text-sm leading-[150%] font-normal font-sans;
  }

  small {
    @apply text-xs leading-[150%] font-normal font-sans;
  }

  button {
    @apply text-base font-medium font-sans;
  }
}

@layer components {
  .underline-after {
    @apply after:content-[''] after:absolute after:h-0.5 after:w-full after:bg-grey/100 after:transition-transform after:-mb-0.5
      after:duration-[0.3s] after:ease-[ease-in-out] after:scale-x-0 after:left-0 after:bottom-0 hover:after:scale-x-100;
  }

  /* .form-auth {
    @apply flex flex-1 flex-col justify-around bg-grey/0 p-6 shadow-[20px_0px_32px_0px_#0000000D] md:mt-auto md:min-h-[672px]
    md:rounded-t-3xl md:px-[212px]lg:m-0 lg:max-w-[608px] lg:rounded-l-none lg:rounded-r-3xl lg:px-32
  } */
}
